/* ส่วนของการแสดงบาร์โค้ด */
.barcode-container {
    text-align: center;
    margin-top: 50px;
}

.barcode-img {
    width: 100px; /* ปรับขนาดของบาร์โค้ดให้เหมาะสม */
    height: auto; /* รักษาสัดส่วนของภาพ */
    max-width: 100%; /* ทำให้ภาพไม่เกินขนาดที่กำหนด */
    max-height: 50px; /* จำกัดความสูงของภาพ */
    object-fit: contain; /* ปรับขนาดภาพให้พอดีกับ container โดยไม่เสียสัดส่วน */
    margin: 0 auto; /* ทำให้ภาพอยู่กลาง */
}

/* ปุ่มยืนยัน */
.btn-confirm {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #218838;
}
