<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
    <link rel="stylesheet" href="/css/createhi.css"> 
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <h1>Create New Account</h1>

        <form action="/create-table" method="POST" id="createTableForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"required  >
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required >
            </div>
            <button type="submit">Create Account</button>
        </form>
    </div>
    <script src="/js/create.js"></script>
</body>
</html>
