<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Hello <%= user.name %>, welcome to your dashboard!</h1>
  <p>Email: <%= user.email %></p> <!-- แสดงอีเมลของผู้ใช้ -->
  <p>picture: <%=user.picture %></p>
  <a href="/auth/logout">Logout</a> <!-- สำหรับออกจากระบบ -->
</body>
</html>
