<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" >Tote+</a>
        <link rel="stylesheet" href="../css/navbar.css">
    </div>
    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/coupons">Coupons and Rewards</a></li>
        <li><a href="/tasks">Your Coupons and points</a></li>
        <li><a href="/add-tasks">Event and Rewards</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
