<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth2 PKCE Flow</title>
</head>
<body>

  <button id="login" href="/auth/google/">Login with Googlenaja</button>

  <!-- อ้างอิงไฟล์ JavaScript แยกต่างหาก -->
  <script type="module" src="../js/login.js"></script>
  
</body>
</html>
